//install bootstrap and font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,500;1,600&display=swap');
$font-family-sans-serif: 'Poppins',
sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');
$font-family: 'Cormorant Garamond',
serif;
@import "../node_modules/bootstrap/scss/bootstrap";
//all coustome code
body {
    background-color: #F6F6F6;
    width: 100vw;
    min-width: 100vh;
}

.li-bar {
    width: 1.2px;
    background-color: #d9d9d9;
    height: 1rem;
}

.nav-icon {
    font-size: 1.3rem;
}

.nav-icon:hover {
    color: #B05DFE;
}

.custom-drop-down {
    position: relative;
}

.custom-drop-down:hover {
    cursor: pointer;
    color: #B05DFE;
}

.custom-drop-down:hover ul {
    display: block;
    cursor: pointer;
}

.custom-drop-down ul {
    display: none;
    position: absolute;
    background: white;
    min-width: 120px;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    z-index: 100;
    transition: all 1.5s;
}

.custom-drop-down ul li {
    padding: 5px;
    margin-left: 4px;
}

.custom-drop-down ul li:hover {
    cursor: pointer;
    color: #B05DFE;
}

.second-dropdown {
    position: relative;
    transition: all 1.2s;
}

.second-dropdown:hover {
    cursor: pointer;
    color: #B05DFE;
}

.second-dropdown:hover ul {
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}

.second-dropdown ul {
    display: none;
    padding: 1rem;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    position: absolute;
    min-width: 700px;
    padding: 27px;
    background: #fff;
}

.mega-dropdown-tittle {
    font-size: 16px;
    color: rgb(36, 36, 36);
    font-weight: 600;
}

.mega-dropdown-tittle:hover {
    color: #B05DFE;
    transform: translateX(5px);
}

.mega-dd-i {
    font-size: 14px;
    color: rgb(36, 36, 36);
    font-weight: 300;
    transition: all 0.8s;
    padding-top: 5px;
}

.mega-dd-i:hover {
    transform: translatex(15px);
    color: #B05DFE;
    list-style: disc;
}

.gaper {
    margin-top: 10px;
}

.pages-dpd {
    position: relative;
    margin: 0 7px;
}

.pages-dpd:hover {
    cursor: pointer;
    color: #B05DFE;
}

.pages-dpd:hover ul {
    display: block;
    cursor: pointer;
    background: #F6F6F6;
}

.pages-dpd ul {
    display: none;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    position: absolute;
    min-width: 200px;
    padding: 25px;
    z-index: 999;
}

.contact-hover:hover {
    color: #B05DFE;
    cursor: pointer;
}

#carouselExampleControls {
    position: relative;
    display: block;
}

.carousel-inner {
    height: 500px;
}

.carousel-control-prev {
    margin-left: -10rem;
}

.carousel-control-next {
    margin-right: -10rem;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    margin-top: 250px;
}

.slider-1 {
    margin-top: 123px;
}

.slider-1h1 {
    font-size: 78px;
    line-height: 121px;
}

.btn-outline-secondary {
    width: 164px;
    padding: 14px;
    margin-left: 16px;
    margin-top: 15px;
}

.btn-outline-secondary:hover {
    background-color: #A749FF;
}

.dily-animate1 {
    animation-delay: 1s;
}

.dily-animate2 {
    animation-delay: 1.8s;
}

.dily-animate3 {
    animation-delay: 2s;
}

.dily-animate4 {
    animation-delay: 2.5s;
}

.fade-effect {
    background: #fff;
}

//baner cards
.banner-cards {
    position: relative;
    border: 4px solid #FFFFFF;
    margin: 6rem 0;
    overflow: hidden;
    img {
        width: 100%;
        transform: scale(1.00);
        transition: all 0.5s ease 0s;
    }
    &:hover img {
        transform: scale(1.2);
    }
    .banner-content {
        position: absolute;
        content: "";
        top: 40px;
        left: 36px;
        h3 {
            font-size: 36px;
            font-family: "cormorant garamond";
            font-weight: 600;
            color: #617d05;
            line-height: 30px;
        }
        h4 {
            font-size: 18px;
            font-family: "cormorant garamond";
            font-weight: 600;
            line-height: 24px;
            color: #010101;
            margin: 0 0 80px 0;
            span {
                color: #617d05;
            }
        }
        a {
            border: 2px solid #617d05;
            border-radius: 100%;
            width: 60px;
            i {
                font-weight: 400;
                font-size: 14px;
                line-height: 25px;
                padding: 4px;
                color: #617d05;
            }
        }
    }
}

//section tittle
.section-tittle {
    h1 {
        font-family: poppins, sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: #000;
        margin-bottom: 15px;
        position: relative;
        text-align: center !important;
        display: inline;
    }
    h1::after,
    h1::before {
        top: 17px;
        position: absolute;
        width: 80px;
        height: 2px;
        background-color: #000;
        content: "";
    }
    h1::after {
        right: -100px;
    }
    h1::before {
        left: -100px;
    }
}

.tablist {
    justify-content: center;
    .nav-link {
        color: #555;
        padding: 40px;
        h4 {
            font-size: 18px;
            font-weight: 500;
            transition: all 1.3s ease 0s;
        }
        .active,
        h4:hover {
            cursor: pointer;
            color: #000;
        }
    }
}