//install bootstrap and font
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;1,200;1,300;1,500;1,600&display=swap');
$font-family-sans-serif: 'Poppins',
sans-serif;
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;500;600&display=swap');
$font-family: 'Cormorant Garamond',
serif;
@import "../node_modules/bootstrap/scss/bootstrap";
//all coustome code
body {
    background-color: #F6F6F6;
    width: 100vw;
    min-width: 100vh;
}

.li-bar {
    width: 1.2px;
    background-color: #d9d9d9;
    height: 1rem;
}

.nav-icon {
    font-size: 1.3rem;
}

.nav-icon:hover {
    color: #B05DFE;
}

.custom-drop-down {
    position: relative;
}

.custom-drop-down:hover {
    cursor: pointer;
    color: #B05DFE;
}

.custom-drop-down:hover ul {
    display: block;
    cursor: pointer;
}

.custom-drop-down ul {
    display: none;
    position: absolute;
    background: white;
    min-width: 120px;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    z-index: 100;
    transition: all 1.5s;
}

.custom-drop-down ul li {
    padding: 5px;
    margin-left: 4px;
}

.custom-drop-down ul li:hover {
    cursor: pointer;
    color: #B05DFE;
}

.second-dropdown {
    position: relative;
    transition: all 1.2s;
}

.second-dropdown:hover {
    cursor: pointer;
    color: #B05DFE;
}

.second-dropdown:hover ul {
    display: block;
    cursor: pointer;
    position: absolute;
    z-index: 999;
}

.second-dropdown ul {
    display: none;
    padding: 1rem;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    position: absolute;
    min-width: 700px;
    padding: 27px;
    background: #fff;
}

.mega-dropdown-tittle {
    font-size: 16px;
    color: rgb(36, 36, 36);
    font-weight: 600;
}

.mega-dropdown-tittle>a {
    font-size: 16px;
    color: rgb(36, 36, 36);
    font-weight: 600;
    text-decoration: none;
    &:hover {
        color: #B05DFE;
        transform: translateX(5px);
    }
}

.mega-dropdown-tittle:hover {
    color: #B05DFE;
    transform: translateX(5px);
}

.mega-dd-i {
    font-size: 14px;
    color: rgb(36, 36, 36);
    font-weight: 300;
    transition: all 0.8s;
    padding-top: 5px;
    a {
        text-decoration: none;
        color: rgb(36, 36, 36);
    }
}

.mega-dd-i:hover {
    transform: translatex(15px);
    color: #B05DFE;
    list-style: disc;
}

.gaper {
    margin-top: 10px;
}

.pages-dpd {
    position: relative;
    margin: 0 7px;
}

.pages-dpd:hover {
    cursor: pointer;
    color: #B05DFE;
}

.pages-dpd:hover ul {
    display: block;
    cursor: pointer;
    background: #F6F6F6;
}

.pages-dpd ul {
    display: none;
    box-shadow: 0 1px 7px -2px rgb(0 0 0 / 30%);
    position: absolute;
    min-width: 200px;
    padding: 25px;
    z-index: 999;
}

.contact-hover:hover {
    color: #B05DFE;
    cursor: pointer;
}

#carouselExampleControls {
    position: relative;
    display: block;
}

.carousel-inner {
    height: 500px;
}

.carousel-control-prev {
    margin-left: -10rem;
}

.carousel-control-next {
    margin-right: -10rem;
}

.carousel-control-next,
.carousel-control-prev {
    filter: invert(100%);
    margin-top: 250px;
}

.slider-1 {
    margin-top: 123px;
}

.slider-1h1 {
    font-size: 78px;
    line-height: 121px;
}

.btn-outline-secondary {
    width: 164px;
    padding: 14px;
    margin-left: 16px;
    margin-top: 15px;
}

.btn-outline-secondary:hover {
    background-color: #A749FF;
}

.dily-animate1 {
    animation-delay: 1s;
}

.dily-animate2 {
    animation-delay: 1.8s;
}

.dily-animate3 {
    animation-delay: 2s;
}

.dily-animate4 {
    animation-delay: 2.5s;
}

.fade-effect {
    background: #fff;
}

//baner cards
.banner-cards {
    position: relative;
    border: 4px solid #FFFFFF;
    margin: 6rem 0;
    overflow: hidden;
    img {
        width: 100%;
        transform: scale(1.00);
        transition: all 0.5s ease 0s;
    }
    &:hover img {
        transform: scale(1.2);
    }
    .banner-content {
        position: absolute;
        content: "";
        top: 40px;
        left: 36px;
        h3 {
            font-size: 36px;
            font-family: "cormorant garamond";
            font-weight: 600;
            color: #617d05;
            line-height: 30px;
        }
        h4 {
            font-size: 18px;
            font-family: "cormorant garamond";
            font-weight: 600;
            line-height: 24px;
            color: #010101;
            margin: 0 0 80px 0;
            span {
                color: #617d05;
            }
        }
        a {
            border: 2px solid #617d05;
            border-radius: 100%;
            width: 60px;
            i {
                font-weight: 400;
                font-size: 14px;
                line-height: 25px;
                padding: 4px;
                color: #617d05;
            }
        }
    }
}

//section tittle
.section-tittle {
    h1 {
        font-family: poppins, sans-serif;
        font-weight: 600;
        font-size: 30px;
        line-height: 36px;
        color: #000;
        margin-bottom: 15px;
        position: relative;
        text-align: center !important;
        display: inline;
    }
    h1::after,
    h1::before {
        top: 17px;
        position: absolute;
        width: 80px;
        height: 2px;
        background-color: #000;
        content: "";
    }
    h1::after {
        right: -100px;
    }
    h1::before {
        left: -100px;
    }
}

.tablist {
    justify-content: center;
    .nav-link {
        color: #555;
        padding: 40px;
        h4 {
            font-size: 18px;
            font-weight: 500;
            transition: all 1.3s ease 0s;
        }
        .active,
        h4:hover {
            cursor: pointer;
            color: #000;
        }
    }
}

//products card design
.product-wrap {
    position: relative;
    margin-bottom: 25px;
    a {
        line-height: inherit;
        cursor: pointer;
        text-decoration: none;
        color: #000;
    }
    .product-img {
        position: relative;
        overflow: hidden;
        img {
            width: 100%;
        }
        .hover-img {
            position: absolute;
            top: 0;
            left: 50%;
            visibility: hidden;
            opacity: 0;
            transition-duration: 0.7s;
            transform: translate(-50%, 20px);
        }
        .product-img-badges {
            position: absolute;
            top: 12px;
            right: 12px;
            span {
                font-size: 13px;
                font-weight: 500;
                line-height: 1;
                display: block;
                margin-bottom: 10px;
                padding: 3px 10px;
                color: #fff;
                border-radius: 3px;
            }
            span:last-child {
                margin-bottom: 0;
            }
            .pink {
                background-color: #fa6bff;
            }
            .purple {
                background-color: #a749ff;
            }
        }
        .product-action {
            position: absolute;
            z-index: 9;
            bottom: 0px;
            left: 50%;
            display: flex;
            align-items: center;
            flex-wrap: wrap;
            width: 100%;
            transform: translateX(-50%);
            .pro-same-action {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 48px;
                background-color: #a749ff;
                transition: all 0.5s ease;
                transform: translateY(20px);
                visibility: hidden;
                opacity: 0;
                button {
                    font-size: 16px;
                    line-height: 48px;
                    display: block;
                    width: 100%;
                    height: 48px;
                    text-align: center;
                    text-transform: capitalize;
                    color: #fff;
                    border: none;
                    background: none;
                }
                button:hover {
                    background-color: #000;
                }
            }
            .pro-wishlist {
                width: 48px;
                border-right: 1px solid hsla(0, 0%, 100%, 0.2);
            }
            .pro-cart {
                font-size: 14px;
                width: calc(100% - 96px);
                transition-delay: 0.1s;
            }
            .pro-quickview {
                width: 48px;
                margin: 0;
                transition-delay: 0.2s;
                border-left: 1px solid hsla(0, 0%, 100%, 0.2);
            }
        }
    }
    .product-content {
        margin-top: 20px;
        h3 {
            font-size: 16px;
            margin: 0;
        }
        .product-rating {
            margin: 3px 0;
        }
        .yellow {
            color: #ffa900;
        }
        .gray {
            color: #5f5d5d;
        }
        .product-price span {
            font-size: 15px;
            font-weight: 500;
            position: relative;
            margin: 0 9px;
            color: #000;
        }
        .product-price span:after {
            position: absolute;
            top: 10px;
            right: -13px;
            width: 7px;
            height: 2px;
            content: "";
            background-color: #000;
        }
        .product-price span.old {
            text-decoration: line-through;
            color: #8e8e8e;
        }
        .product-price span.old:after {
            content: "";
            display: none;
        }
    }
    &:hover .hover-img {
        visibility: visible;
        opacity: 1;
        transform: translate(-50%, -20px);
    }
    &:hover .product-action>.pro-same-action {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
}

//supports cards design
.supports-crads-wraper {
    margin-bottom: 30px;
    .sup-cards {
        border: 5px solid #fff;
        padding: 36px 10px 30px;
        h3 {
            font-size: 18px;
            font-weight: 400;
            color: #494949;
            margin-top: 10px;
        }
        h4 {
            font-size: 14px;
            font-weight: 400;
            color: #6a6a6a;
            line-height: 24px;
        }
        .animated {
            animation-duration: 1s;
            animation-fill-mode: both;
        }
        @keyframes icon-animation {
            0% {
                transform: scaleX(1)
            }
            10%,
            20% {
                transform: scale3d(.9, .9, .9) rotate(-3deg);
            }
            30%,
            50%,
            70%,
            90% {
                transform: scale3d(1.1, 1.1, 1.1) rotate(3deg);
            }
            40%,
            60%,
            80% {
                transform: scale3d(1.1, 1.1, 1.1) rotate(-3deg);
            }
            100% {
                transform: scaleX(1)
            }
        }
        &:hover .animated {
            animation: icon-animation 0.5s ease-in-out 0s 1 normal none running;
        }
    }
}

//subscribe from
.subscribe-wrapper {
    margin: 30px 0;
    h3 {
        font-size: 48px;
        margin-right: 23px;
        color: #010101;
    }
    p {
        font-size: 16px;
        font-weight: 400;
        margin-right: 23px;
        color: #696969;
    }
    .subscribe-form {
        position: relative;
        .email {
            width: 100%;
            font-size: 14px;
            height: 45px;
            padding: 2px 50px 2px 0;
            color: #333;
            outline: none;
            border: none;
            border-bottom: 2px solid #e2e2e2;
            background: transparent;
            box-shadow: none;
        }
        .submit {
            position: absolute;
            right: 0;
            bottom: 0;
            display: inline-block;
            .button {
                font-size: 30px;
                height: 45px;
                padding: 0;
                transition: all 0.3s;
                color: #cacaca;
                border: none;
                background: none;
                &:hover {
                    color: #010101;
                }
            }
        }
    }
}

// footer
.footer-area {
    background-color: #f1f1f1;
    margin-top: 100px;
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    .scroll-top {
        position: fixed;
        z-index: 9999 !important;
        right: 20px;
        bottom: 60px;
        width: 50px;
        height: 50px;
        border: none;
        border-radius: 100%;
        overflow: hidden;
        text-align: center;
        color: #fff;
        background-color: #a749ff;
        i {
            font-size: 22px;
            line-height: 50px;
            display: block;
        }
    }
    .copyright {
        margin-bottom: 30px;
        .footer-logo {
            margin-top: 41px;
            margin-bottom: 12px;
        }
        a {
            color: #313131;
            text-decoration: none;
        }
        p {
            color: #313131;
            font-size: 14px;
            line-height: 24px;
            font-weight: 400;
            letter-spacing: 0.9px;
        }
    }
    .footer-widget {
        margin-left: 30px;
        margin-bottom: 30px;
        h3 {
            font-size: 16px;
            font-weight: 500;
            line-height: 1;
            margin: 0 0 16px;
            color: #313131;
            text-transform: uppercase;
        }
        ul {
            margin: 0;
            padding: 0;
            list-style: outside none none;
            li {
                margin: 0 0 11px;
                transition: all 0.2s;
                a {
                    letter-spacing: 0.3px;
                    color: #5d5d5d;
                    text-decoration: none;
                    &:hover {
                        color: #AC51FF;
                    }
                }
            }
        }
        .subscribe-style p {
            margin: 0 0 20px;
            color: #7a7a7a;
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
        }
    }
}

//------------------------------layout desigtn
// lay out finder design
.breadcrumb-content span>span {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 10px 0;
    a {
        font-weight: 500;
        color: #5b5858;
        text-decoration: none;
        transition: all 0.3s;
        &:hover {
            color: #a749ff;
        }
    }
}

//shop side lauout design
.sidebar-wrapper {
    .sidebar-tittle>h4 {
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        color: #333;
    }
    .sidebar-search {
        border: 1px solid black;
        width: 80%;
        border: 1px solid #e6e6e6;
        margin: 15px 0;
        input {
            border: none;
            outline: none;
            padding: 10px 10px;
            width: 80%;
            height: 43px;
            padding: 2px 55px 2px 18px;
            color: #000;
            background: transparent none repeat scroll 0 0;
        }
        button {
            margin-right: 10px;
            height: 100%;
            border: none;
            background-color: transparent;
            outline: none;
            cursor: pointer;
            color: #e6e6e6;
            transition: all 0.3s;
            &:hover {
                color: #a749ff;
                cursor: pointer;
            }
        }
    }
    .sidebar-categoriey {
        .cat-tittle {
            margin: 50px 0;
            h3 {
                font-size: 16px;
                font-weight: 500;
                color: #333;
            }
        }
    }
    .side-list {
        ul {
            margin: 0;
            padding: 0;
            list-style: outside none;
            li {
                position: relative;
                align-items: center;
                padding: 0 0 0 15px;
                .sidebar-widget-list>button {
                    position: relative;
                    display: block;
                    width: 100%;
                    text-align: left;
                    border: none;
                    text-transform: capitalize;
                    background: none;
                    padding: 0 0 0 30px;
                    .checkmark {
                        position: absolute;
                        left: 0;
                        width: 15px;
                        height: 15px;
                        border: 2px solid #888;
                        border-radius: 3px;
                        background-color: #fff;
                        margin-top: 4px;
                    }
                }
            }
        }
    }
    .sidebar-widget-tag {
        ul {
            margin: 0;
            padding: 0;
            list-style: outside none none;
            li {
                display: inline-block;
                margin: 0 10px 15px 0;
                button {
                    line-height: 1;
                    display: inline-block;
                    padding: 9px 17px 12px;
                    text-transform: capitalize;
                    color: #424242;
                    border-radius: 50px;
                    background: none;
                    background-color: #f6f6f6;
                    border: none;
                    transition: all 0.3s;
                    &:hover {
                        background-color: #a749ff;
                        color: #f1f1f1;
                    }
                }
            }
        }
    }
}

/// shop cards design
.shop-top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .select-shoing-wrap {
        display: flex;
        .shop-select {
            margin-right: 50px;
            select {
                outline: none;
                font-size: 14px;
                min-width: 143px;
                padding: 5px;
                color: #606060;
                border: 1px solid #e6e6e6;
            }
        }
    }
    p {
        margin: 0;
        color: #606060;
    }
    .shop-tab {
        button:first-child {
            margin: 0;
        }
        button {
            font-size: 18px;
            margin-left: 20px;
            padding: 0;
            color: #606060;
            border: none;
            background: none;
        }
    }
}

//pages slider
.page-changer {
    margin-top: 15px;
    ul {
        list-style: none;
        li {
            display: inline-block;
            background-color: #FFFFFF;
            width: 40px;
            height: 40px;
            font-size: 18px;
            margin-right: 8px;
            padding: 9px;
            border-radius: 100%;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 12px 0.8px !important;
            transition: all 0.3s;
            &:hover {
                background-color: #a749ff;
                a {
                    color: #FFFFFF;
                }
            }
            a {
                color: #a749ff;
                text-decoration: none;
            }
        }
        li:first-child {
            background-color: #a749ff !important;
            a {
                color: #FFFFFF !important;
            }
        }
    }
}

//login form design
.log-form {
    margin: 30px 0;
    .login-tittle {
        margin: 30px 0;
        span {
            font-size: 25px;
            font-weight: 700;
            line-height: 24px;
            color: #000;
            text-transform: capitalize;
        }
        span:first-child {
            font-size: 25px;
            font-weight: 700;
            line-height: 24px;
            color: #a749ff;
        }
    }
    .login-form {
        margin: 43px 0 0 340px;
        box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px;
        overflow: hidden;
        width: 50%;
        .login-bar {
            box-shadow: rgb(0 0 0 / 10%) 0px 0px 6px;
            width: 100%;
            overflow: hidden;
            margin-left: 0px;
            padding: 31px 0;
            .inputer {
                input {
                    display: block;
                    width: 70%;
                    outline: none;
                    margin: 38px 0 10px 85px;
                    height: 35px;
                    background-color: transparent;
                    border: 1px solid #ebebeb;
                    color: #333;
                    font-size: 14px;
                    height: 45px;
                }
            }
            .chekup {
                display: flex;
                margin: 30px 0 20px 89px;
                text-align: left;
                justify-content: space-between;
                width: 70%;
                .cheker {
                    display: flex;
                    align-items: center;
                    input {
                        margin: 3px 5px 0 0;
                    }
                }
                span {
                    a {
                        text-decoration: none;
                        color: #313131;
                        transition: all 0.3s;
                        &:hover {
                            color: #a749ff;
                            cursor: pointer;
                        }
                    }
                }
            }
            .login-btn {
                text-align: left;
                margin: 60px 82px;
                button {
                    background-color: #f2f2f2;
                    border: none;
                    color: #333;
                    cursor: pointer;
                    font-size: 14px;
                    font-weight: 500;
                    line-height: 1;
                    padding: 11px 30px;
                    text-transform: uppercase;
                    transition: all .3s ease 0s;
                    &:hover {
                        background-color: #a749ff;
                        color: #F6F6F6;
                    }
                }
            }
        }
    }
}

//product-view
.img-view {
    margin: 30px 0;
    .pro-view {
        margin: 10px 0;
    }
}

.pro-details-wrapper {
    margin: 30px 0;
    h3 {
        font-size: 24px;
        font-weight: 400;
        line-height: 24px;
        color: #000;
        margin-bottom: 33px;
    }
    .price {
        color: red;
        font-size: 24px;
        font-weight: 400;
        line-height: 28px;
    }
    .star-i-group {
        margin-bottom: 20px;
        i {
            color: yellow;
        }
    }
    .star-i-group>i:last-child {
        color: gray;
    }
    p {
        font-size: 15px;
        font-weight: 400;
        line-height: 39px;
    }
    button {
        background-color: #000;
        color: white;
        border: none;
        padding: 10px 10px;
        display: block;
        margin-bottom: 10px;
    }
    .cat {
        margin-top: 10px;
        line-height: 40px;
    }
    .social {
        margin-top: 10px;
        i {
            font-size: 25px;
            margin-right: 10px;
        }
    }
}